@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.App{
  width:100vw;
  height:100vh;
  font-family: 'Noto Sans', sans-serif;
  font-size:45px;
  margin:0;
  overflow: hidden;
}

.firebaseui-list-item{
  font-size: 30px;
}

.Header{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  border-bottom:solid black 2px;
  height:10vh;
}

.link{
  color: inherit;
  text-decoration: inherit;
}

.title{
  padding:0.25em 0.25em 0.25em 0.5em;

}

.header-btn-container{
  margin-left:auto;
  margin-right:0.5em;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size:25px;
}

.inbox{
  border-left:solid black 1px;
}

.profile-btn{
  border-left:solid black 1px;
  border-right:solid black 1px;
}

.chat{
  border-left:solid black 1px;
}

.chat svg:hover{
  fill:#fd0061;
}

.inbox,.request-help-btn,.profile-btn,.chat,.log-out{
  padding:0.5em;
}

.log-out{
  margin: 0.15em;
}

.log-out:hover{
  background-color: lightgrey;
  color: white;
}

.inbox svg:hover{
  fill:#a905b6;
}

.request-help-btn{
  color:#7bc62d;
}

.request-help-btn:hover{
  animation:  enlarge 0.5s;
  background-color: #7bc62d;
  color: white;
}
.profile-btn svg:hover{
  fill:#009988;
}

.inbox,.profile-btn,.chat{
  display:flex;
  justify-content: center;
  align-items: center;
}

.Home{
  display:flex;
  flex-wrap: wrap;
  height:90vh;
  width:100vw;
}
.TaskPanel{
  display:flex;
  align-content: flex-start;
  flex-wrap:wrap;
  width:35vw;
  height:100%;
  font-size:27px;
  overflow:auto;
}

.task-btn-container{
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
  height:2em;
  padding:0.25em 0em 0em 0em;
}

.task-filter-row{
  display:flex;
  justify-content: space-between;
  width:100%;
  overflow:hidden;
}

.filter-options{
  font-size:15px;
  border-radius: 5px;
  border:solid black 2px;
  padding:0.25em;
  margin-left:0.4em;
  margin-right:0.4em;
  margin-bottom:0.4em;
  background-color: #ffec00;
  box-shadow: 0 4px #999;

}

.filter-options:active {
  background-color: #7bc62d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.category-filter-container{
  font-size:15px;
  border-radius: 5px;
  border:solid black 2px;
  padding:0.25em;
  margin-left:0.4em;
  margin-right:0.4em;
  margin-bottom:0.4em;
  background-color: #ffec00;
  box-shadow: 0 4px #999;
}

.category-filter-container:hover .category-filter-dropdown{
  display:block;

}

.category-filter-dropdown{
  display:none;
  position:absolute;
  z-index:1;
  background-color: #ffec00;
  font-size:25px;
  border:solid black 2px;
}

.category:hover{
  background-color: #ffffff;
  color:#000000;
}

.requests-label, .my-requests-label, .my-tasks-label{
  width:33%;
  border-bottom:solid black 2px;
  border-top:solid black 2px;
  text-align:center;
  font-size:0.9em;
}

.requests-label{
   border-right:solid black 1px;
}

.my-deliveries-label{
   border-left:solid black 1px;
   border-right:solid black 1px;
}

.my-tasks-label{
  border-left:solid black 1px;
}



.MapImage {
  height:90vh;
  width:65vw;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.display{
  font-size:15px;
  text-align: center;
}
.task-details{
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.entry{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  padding:0.5em;
  border-top:solid black 3px;
}

.entry:hover{
  background-color: #ffbf00;
}

.entry-taskName-container{
  display:flex;
  width:100%;
}
.entry-taskName{
  color:#00b341;
  font-weight:bold;
}

.entry-location{
  width:100%;
  font-size:18px;
  padding-top:0.5em;
}
.entry-date-container{
  width:100%;
  font-size:18px;
  padding:0.5em;
}

.entry-date-container{
  display:flex;
  padding:0.5em;
  width:100%;
  justify-content: center;
  font-size:15px;
}

.entry-date-posted,.entry-volunteer-date{
  width:50%;
}

.entry-status{
  float:left;
  font-size: 0.75em;
  border: solid black 2px;
  margin: 0.25em;
  border-radius:30px;
  padding-top:0.15em;
  padding-bottom:0.15em;
  padding-left:0.5em;
  padding-right:0.5em;
  color:black;

}

.filled{
  background-color: #ff4500;
}

.open{
  background-color: #7bc62d;
}
.entry-volunteer-num{
  float:right;
  font-size: 0.75em;
  margin: 0.25em;
  padding-top:0.15em;
  padding-bottom:0.15em;
  padding-left:0.5em;
  padding-right:0.5em;
  color:green;
}

.task-complete-container{
  width:100%;
  margin: 0.5em;
}

.task-complete-btn{
  text-align:center;
  border: solid black 2px;
  background-color:#00abfb;
}

.task-completed-btn{
  text-align:center;
  border: solid black 2px;
  background-color:#7bc62d;
}

.task-complete-btn:hover{
  
}

.confirm-header{
  width: 100%;
  text-align: center;
}

.entry-status-details{
  padding-top:1em;
}

.highlight{
  background-color: #ffbf00;
}

.temp-highlight{
  
  animation: fade 1s linear;
}

@keyframes fade {
  0%,100%{ background-color:rgb(255,191,0,0)}
  50%{background-color:rgb(255,191,0,1)}
}

.EntryModal,.RequestModal,.ConfirmCompletionModal{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  margin: 10% auto;
  background-color: #fefefe;
  border: 1px solid #888;
  width:50%;
  padding: 0.5em;
}

.request-modal-container,.ConfirmCompletionContainer{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  margin: 1% auto;
  background-color: #fefefe;
  border: 1px solid #888;
  width:60%;
  overflow:auto;
  z-index: 2;
  padding: 0.5em;
}

.modal-taskName{
  width: 100%;
  text-align:center;
  padding:0.5em;
  font-size:40px;
}

.modal-location{
  text-align:center;
  font-size:30px;
}

.modal-date-container{
  display:flex;
  width:100%;
  font-size:20px;
  margin-top:2em;
}

.modal-date-posted{
  width:50%;
  text-align: center;
}

.modal-volunteer-date{
  width:50%;
  text-align: center;
}

.modal-btn-container{
  display:flex;
  justify-content: center;
  width:100%;
  margin-top:1em;
}

.modal-submit-btn,.modal-cancel-btn,.modal-chat-btn{
  border:solid black 1px;
  margin:0.5em;
  padding:0.25em;

} 

.modal-chat-btn:hover{
  background-color: #00abfb;
}
.modal-submit-btn:hover{
  background-color: #7bc62d;
}

.confirm-completion-btn:hover{
  background-color: #7bc62d;
}

.modal-cancel-btn:hover,.cancel-completion-btn:hover{
  background-color: #ff4500;
}

.marker{
  background-image: url('icon.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.request-category-header{
  width:100%;
  text-align:center;
  font-size:45px;
  padding-top:0.25em;
  padding-bottom: 0.5em;
}

.request-main-category-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding-top:0.5em;
  padding-bottom:0.5em;
}


.request-category-container{
  display:flex;
  flex-wrap:wrap;
  width:5vw;
  justify-content: center;
  align-items: center;
  padding:0.25em;
  border: solid black 1px;
  font-size:0.7em;
  margin:0.05em;
}

.request-category-image{
  width:100%;
  text-align: center;
}

.request-category-container:hover{
  animation:enlarge 0.5s;
}

.request-category-highlight{
  border: solid #ffbf00 2px;
}

@keyframes enlarge {
  0%{transform:scale(1);}
  50%{transform:scale(1.05);}
  100%{transform:scale(1);}
}
.request-location-container,.request-details-container,.request-date-container,.donation-container,.request-volunteers-container,.donation-amount-container{
  display:flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  width:100%;
  padding:0.25em;
}


.charity-container{
  width: 100%;
  text-align: center;
  margin: 0.5em;
}

.modal-donation-amount{
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.request-task-btn-container{
  display:flex;
  justify-content: center;
  width:100%;
  padding:0.25em;
}
.request-location-label,.request-details-label,.request-date-label,.donation-option-label,.donation-amount-label,.request-volunteers-label{
  text-align:right;
  font-size:30px;
  width:6em;
  margin-right:0.5em;

}

.donation-form{
  display:flex;
  justify-content: center;
  align-items: center;
}

.donation-form input, .charity-form input {
  margin:0.5em;
}

.donation-options, .charity-options,.donation-amount-label{
  font-size:25px;
}

.charity-form{
  display:flex;
  justify-content: center;
  width:100%;
}

.charity-form-container{
  text-align:center;
  margin:0.5em;
  border: solid black 1px;
}

.charity-form-btn-container{
  display:flex;
  justify-content: center;
}

.charity-options-pic{
  width:200px;
  height:auto;
}

.charity-options{
  width:100%;

}

.request-details-date{
  text-align:center;
  width:100%;
}
.request-date-container{
  text-align: center;
  width:100%;
}
.request-task-btn,.request-cancel-btn{
  border:solid black 2px;
  padding:0.25em;
  font-size:30px;
  margin:0.5em;

}

.request-task-btn:hover{
  background-color: #7bc62d;
}

.request-cancel-btn:hover{
  background-color: #ff4500;
}

.request-location-input,.request-details-input{
  flex-grow:1;
  font-size:20px;
  font-family: 'Noto Sans', sans-serif;
}

.request-volunteers-input{
  font-size:20px;
  font-family: 'Noto Sans', sans-serif;
}

.Flatpickr{
  font-family: 'Noto Sans', sans-serif;
  font-size:20px;
}

#locations{
  position: absolute;
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 0.8rem;
  z-index:1;
}

.Chat{
  display:flex;
  width:100vw;
  height:90vh;

}

.chat-panel{
  width:35vw;
  height:100%;
  font-size:30px;
  overflow:auto;
  border-right:solid black 1px;
}

.chat-panel-header{
  display:block;
  width:100%;
  text-align:center;
}

.chat-groups{
  display:flex;
  flex-wrap:wrap;
}

.chat-window{
  width:65vw;
  height:100%;
}

.chat-window-top-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:12vh;
  text-align:center; 
  border-bottom:solid black 2px;
}

.chat-window-top-bar-pic{
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  margin: 0.5em;
}

.chat-window-messages{
  display:flex;
  flex-wrap:wrap;
  align-content: flex-start;
  overflow-y:auto;
  height:70vh;

}
.chat-message-row{
  margin-top:0.25em;
  width:100%;
}

.chat-message{
  display:inline-block;
  padding:15px;
  border-radius:30px;
  margin-bottom:2px;
  font-size:20px;
  font-family: Helvetica, Arial, sans-serif;
}

.me{
  background: #0084ff;
  color:#fff;
  float:right;
  margin-right:0.5em;
}

.him{
  background:#eee;
  float:left;
  margin-left:0.5em;
}

.chat-text-bar{

  position:absolute;
  bottom:0;
  height: 7vh;
  font-size:40px;
  border-radius:10px;
  width:63vw;
  margin:0.1em;
}

.Leaderboard{
  display:flex;
  flex-wrap:wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content:flex-start;
  font-size:50px;
}

.leaderboard-container{
  width:100%;
  text-align: center;
  font-size:40px;
  padding:0.25em;
}

.leaderboard-header{
  width: 100%;
  text-align: center;
}

.details-container{
  display:block;
  border:solid black 2px;
}

.confirm-btn-row{
  display:flex;
  justify-content: center;
  width:100%;
  margin: 0.5em;
}

.confirm-completion-btn, .cancel-completion-btn{
  padding:0.4em;
  margin:0.5em;
  border: solid black 2px;
}

input:focus{
  outline: none;
}



@media (max-width: 768px) {
  /* For mobile phones: */

  .Header{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    border-bottom:solid black 2px;
    height:20vh;
  }

  .title{
    font-size: 0.75em;
    width: 100vw;
    text-align: center;
    border-bottom: solid black 2px;
  }

  .header-btn-container{

    display:flex;
    justify-content: center;
    align-items:center;
    font-size:0.5em;
    width: 100%;
  }

  .TaskPanel{
    display:flex;
    align-content: flex-start;
    flex-wrap:wrap;
    width:100%;
    font-size:27px;
    overflow:auto;
  }

  .MapImage{

    height:50vh;
    width:100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .requests-label, .my-requests-label, .my-tasks-label,{
    width:33%;
    border-bottom:solid black 2px;
    border-top:solid black 2px;
    text-align:center;
    font-size: 0.5em;

  }

  .modal-container,.request-modal-container,.ConfirmCompletionContainer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    margin: 5% auto;
    background-color: #fefefe;
    border: 1px solid #888;
    width:80%;
    padding: 0.55em;
    overflow: scroll;
  }
  .modal-taskName,.confirm-header{
    width: 100%;
    text-align:center;
    padding:0.5em;
    font-size:1em;
  }
  .request-category-header{
    width: 100%;
    text-align:center;
    padding:0.5em;
    font-size:0.5em;
  }
  .modal-location{
    text-align:center;
    font-size:0.7em;
  }

  .modal-date-container{
    display:flex;
    width:100%;
    font-size:0.7em;
    margin-top:1em;
  }

  .entry-status-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .entry-status{

    font-size: 0.7em;
    border: solid black 2px;
    margin: 0.25em;
    border-radius:30px;
    padding-top:0.15em;
    padding-bottom:0.15em;
    padding-left:0.5em;
    padding-right:0.5em;
    color:black;
  }

  .modal-btn-container{

    display:flex;
    justify-content: center;
    width:100%;
    font-size: 0.7em;
    margin-top:1em;
  }

  .modal-submit-btn,.modal-cancel-btn,.modal-chat-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid black 1px;
    margin:0.5em;
    padding:0.25em;
  } 
  .modal-donation-amount{
    margin-bottom: 0.25em;
  }
  .cancel-completion-btn{
    padding:0.4em;
    margin:0.1em;
    border: solid black 2px;
  }

  .request-details-label,.request-location-label,.request-date-label,.donation-option-label,.request-volunteers-label{
    
    text-align: center;
    width: 100%;
    font-size:0.7em;
    width:6em;
    margin-right:0.5em;

  }

  .request-details-container,.request-location-container,.request-date-container,.donation-container,.request-volunteers-container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
    padding:0.25em;
  }
  .donation-form{
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .request-category-container{
    display:flex;
    flex-wrap:wrap;
    width:25vw;
    height: 25vw;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    font-size:0.7em;
    margin:0.05em;
    background-color: white;
  }
  .request-category-image{
    width: 15vw;
    height: 15vw;
    background-color: green;
  }
  .request-category-label{
    font-size: 0.5em; 
  }

}
